@import "~/.config/rofi/config.rasi" 

/* ---- Mainbox ---- */
mainbox {
  children: [ "entry", "message" ];
  height: inherit;
}

/* ---- Window ---- */
window {
  width: 30%;
  height: inherit;
}

/* ---- Entry ---- */
entry {
  expand: true;
  placeholder: "Calculate";
}

listview {enable: false;}
