@import "colors.css";

* {
  color: @on_surface;
  border-radius: 0;
  min-height: 0;
  font-family: 'JetBrainsMono Nerd Font';
  font-size: 14px;
}

window#waybar {
  background: transparent;
}

.modules-left,
.modules-center,
.modules-right {
  background: @secondary_container;
  border-radius: 15px;
  margin: 5px;
}

tooltip {
  background: @background;
  border-radius: 15px;
  border-width: 2px;
  border-style: solid;
  border-color: @outline;
}

#workspaces {
  border-radius: 15px;
  margin: 2px;
}

#workspaces button {
  all: unset;
  padding-left: 10px;
  padding-right: 10px;
  color: @on_surface;
  font-family: 'JetBrainsMono Nerd Font';
  font-size: 14px;
  border-radius: 0;
}

#workspaces button.focused {
  color: @primary;
  background: @primary_container;
  border-radius: 12px;
}

#workspaces button.urgent {
  color: @error;
}

#workspaces button:hover {
  background: @surface_bright;
  border-radius: 12px;
  color: @primary;
}

#clock, #battery, #pulseaudio, #mpd {
  padding: 2px 10px;
}

#network {
  padding-left: 15px;
  padding-right: 2px;
}

#bluetooth {
  padding-right: 10px;
}

#tray {
  padding: 0 10px;
}

#clock {
  padding-right: 15px;
  padding-left: 15px;
}
