/* GTK 3 and 4 basic color overrides */
@define-color accent_bg_color {color4};
@define-color accent_color {color4};
@define-color window_bg_color {background};
@define-color window_fg_color {foreground};
@define-color view_bg_color {color0};
@define-color view_fg_color {foreground};
@define-color headerbar_bg_color {background};
@define-color headerbar_fg_color {foreground};
