input {
    keyboard {
        xkb {
            layout "ch,us"
            variant "de,altgr-intl"
            options "compose:caps"
        }
        repeat-rate 40
        repeat-delay 600
        numlock
    }

    touchpad {
        tap
        natural-scroll
        accel-profile "adaptive"
        click-method "button-areas"
    }

    mouse {
        accel-profile "flat"
    }

    trackpoint {}

    focus-follows-mouse max-scroll-amount="0%"
}

clipboard {
    disable-primary
}
